//
// REVOLT!
// COMPONENTS.FORMS
//



// Predefine the variables below to alter and enable specific features.

$revo-form-namespace:                       $revo-components-namespace !default;

$revo-enable-form-control--small:           $revo-auto-enable !default;
$revo-enable-form-control--large:           $revo-auto-enable !default;

$revo-form-label-margin-left:               0 !default;
$revo-form-label-margin-bottom:             .5rem !default;

$revo-form-group-margin-bottom:             $revo-spacer-y !default;

// Default controls
$revo-form-control-font-size:               $revo-base-font-size !default;
$revo-form-control-line-height:             $revo-base-line-height !default;
$revo-form-control-padding:                 .375rem .75rem !default;
$revo-form-control-border-radius:           .25rem !default;

// Small controls
$revo-form-control-font-size--small:        ($revo-form-control-font-size * .875) !default;
$revo-form-control-line-height--small:      $revo-form-control-line-height !default;
$revo-form-control-padding--small:          .275rem .75rem !default;
$revo-form-control-border-radius--small:    .2rem !default;

// Large controls
$revo-form-control-font-size--large:        ($revo-form-control-font-size * 1.25) !default;
$revo-form-control-line-height--large:      $revo-form-control-line-height !default;
$revo-form-control-padding--large:          .75rem 1rem !default;
$revo-form-control-border-radius--large:    .3rem !default;

// All controls
$revo-form-control-bg:                      lighten($revo-base-bg, 10%) !default;
$revo-form-control-bg-disabled:             darken($revo-base-bg, 5%) !default;
$revo-form-control-color:                   $revo-base-color !default;
$revo-form-control-color-disabled:          lighten($revo-base-color, 40%) !default;
$revo-form-control-color-placeholder:       lighten($revo-base-color, 40%) !default;
$revo-form-control-border-width:            1px !default;
$revo-form-control-border-color:            $revo-base-border-color !default;
$revo-form-control-border-focus-color:      darken($revo-base-border-color, 20%) !default;
$revo-form-control-disabled-cursor:         not-allowed !default;



.#{$revo-form-namespace}form__legend,
%#{$revo-form-namespace}form__legend {
    @extend h4;
}



// Wrapper class to help with the spacing of vertical forms.

.#{$revo-form-namespace}form__group,
%#{$revo-form-namespace}form__group {
    margin-bottom: $revo-form-group-margin-bottom;
}



// This class can be applied to any text input and textarea.

.#{$revo-form-namespace}form__control,
%#{$revo-form-namespace}form__control {
    display: block;
    width: 100%;
    font-size: $revo-form-control-font-size;
    line-height: $revo-form-control-line-height;
    padding: $revo-form-control-padding;
    border: $revo-form-control-border-width solid $revo-form-control-border-color;
    color: $revo-form-control-color;
    background: $revo-form-control-bg;
    border-radius: $revo-form-control-border-radius;

    &:focus {
        border-color: $revo-form-control-border-focus-color;
        outline: none;
    }

    // 1. Override Firefox's unusual default opacity; see
    //    https://github.com/twbs/bootstrap/pull/11526.

    &::placeholder {
        color: $revo-form-control-color-placeholder;
        opacity: 1; // [1]
    }

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    //
    // 1. iOS fix for unreadable disabled content; see
    //    https://github.com/twbs/bootstrap/issues/11655.

    &:disabled,
    &[readonly] {
        background: $revo-form-control-bg-disabled;
        color: $revo-form-control-color-disabled;
        opacity: 1; // [1]
    }

    &:disabled {
        cursor: $revo-form-control-disabled-cursor;
    }
}



// Small control

@if ($revo-enable-form-control--small == true) {

    .#{$revo-form-namespace}form__control--small,
    %#{$revo-form-namespace}form__control--small {
        padding: $revo-form-control-padding--small;
        font-size: $revo-form-control-font-size--small;
        line-height: $revo-form-control-line-height--small;
        border-radius: $revo-form-control-border-radius--small;
    }

}



// Large control

@if ($revo-enable-form-control--large == true) {

    .#{$revo-form-namespace}form__control--large,
    %#{$revo-form-namespace}form__control--large {
        padding: $revo-form-control-padding--large;
        font-size: $revo-form-control-font-size--large;
        line-height: $revo-form-control-line-height--large;
        border-radius: $revo-form-control-border-radius--large;
    }

}



// Make file inputs better match text inputs by forcing them to new lines.

.#{$revo-form-namespace}form__control-file,
%#{$revo-form-namespace}form__control-file,
.#{$revo-form-namespace}form__control-range,
%#{$revo-form-namespace}form__control-range {
    display: block;
}



.#{$revo-form-namespace}form__label,
%#{$revo-form-namespace}form__label {
    margin-left: $revo-form-label-margin-left;
    margin-bottom: $revo-form-label-margin-bottom;
}



// Radio and checkbox

.#{$revo-form-namespace}form__radio,
%#{$revo-form-namespace}form__radio,
.#{$revo-form-namespace}form__checkbox,
%#{$revo-form-namespace}form__checkbox {
    position: relative;
    display: block;
    margin-bottom: $revo-form-label-margin-bottom;

    .#{$revo-form-namespace}form__label,
    %#{$revo-form-namespace}form__label {
        margin-bottom: 0;
        cursor: pointer;

        input {
            margin-right: .2rem;

            [dir=rtl] & {
                margin-left: .2rem;
            }
        }
    }
}



// Disabled radio and checkbox

.#{$revo-form-namespace}form__radio,
%#{$revo-form-namespace}form__radio,
.#{$revo-form-namespace}form__checkbox,
%#{$revo-form-namespace}form__checkbox {

    // These classes are used on elements with `<label>` descendants
    &.is-disabled {
        .#{$revo-form-namespace}form__label,
        %#{$revo-form-namespace}form__label {
            //color: $revo-form-control-color-disabled;
            cursor: $revo-form-control-disabled-cursor;
        }
    }

    // If disabled attribute is applied directly to radio or checkbox `<input>`
    input[type="radio"],
    input[type="checkbox"] {
        &:disabled,
        &.is-disabled {
            cursor: $revo-form-control-disabled-cursor;
        }
    }
}